.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 400px; /* explicitly defining colums */
    grid-template-rows: 50px 100px;
    grid-auto-rows: 100px; /* for implicit rows that are added */
    grid-auto-columns: 100px;
}